/*
license header dingens
*/
/* 
	Created on : 19.03.2018, 15:46:42
	Author     : nathan.peray, daniel.frei
*/

#headwrapper {
	display         : block                           ;
	background-image: url(../src_images/title_pcb.jpg);
	background-size : cover                           ;
}

#headwrapper {
	color           : #FFF   ;
	background-color: #002147;
}
