/*
license header dingens
*/
/* 
	Created on : 19.03.2018, 15:46:42
	Author     : nathan.peray, daniel.frei
*/

#headwrapper {
	display         : block                           ;
	background-image: url(../src_images/title_pcb.jpg);
	background-size : cover                           ;
}

#headwrapper {
	color           : #FFF   ;
	background-color: #002147;
}

.gradient { /* Gradient im Titel */
	background     : linear-gradient(rgba(0,0,0,.2), rgba(0,33,71,.8));
	background-size: cover ;
	margin         : -1em 0;
	padding        :  1em  ;
}

.gradient a { color: white; }

/** 
 * Hier sind nur die CSS-Regeln, welche Media-abhängig sind.
 */

/* assorted sundry in queries */
/* smaller than */
@media screen and (max-width: 30em) {
	.headtitle    {display: none;}
} /* end smaller than*/




/* NOT smaller than */


/* bigger than */
@media screen and (min-width: 45em) {
/* gap inbetween just if in desktop, cause ugly otherwise */
	#headwrapper       {margin       : 0 auto .5em;}
} /* end bigger than */


@media print {
	#headwrapper	{display: none;}
} /* end media print */


