/*
license header dingens
*/
/* 
	Created on : 19.03.2018, 15:46:42
	Author     : nathan.peray, daniel.frei
*/

html, body {
	color           : #FFF                ;
	background-color: #FFFFFE             ;
	font-family     : 'Roboto', sans-serif;
	line-height     :                  1.5; /* 1.5 px ???? */
}

a {
	text-decoration: none   ;
	color          : #1e6b8c;
}

#headwrapper,
#footwrapper {
	max-width       :   100em;
	margin          :  0 auto;
	background-color: #002147;
}

#headwrapper,
#articlewrapper,
#footwrapper {
	padding: 1em 0;
}

.headtitle,
.articletitle {
	display  : block          ;
	max-width: calc(50% - 1em);
	font-size:            150%;
}

#articlewrapper {
	margin          :               0    ;
	padding         :          .5em 1.5em;
	background-color: #FFFFFE            ;
	color           : #703820            ;
	border-left     : 1px solid lightgrey;
	border-right    : 1px solid lightgrey;
	box-shadow      :  0  -9px  0px   0px white    ,
	                   0   9px  0px   0px white    ,
	                 -12px 0   11px -13px lightgrey,
	                  12px 0   11px -13px lightgrey;
}


/** 
 * Hier sind nur die CSS-Regeln, welche Media-abhängig sind.
 */

/* assorted sundry in queries */
/* smaller than */
@media screen and (max-width: 30em) {
	body             {font-size    :  90% ;}
	img              {width        : 100% ;}
	.startlink       {min-width    : 100% ;}


	.startlink { 
			text-align  : center;
			display     : block ;
			padding-left:  0.0em;
			font-size   :  0.9em;
	}

/* zeige nur artikel-titel */

	.articletitle {
		float      : unset ;
		white-space: nowrap;
		display    : unset ;
	}


	

} /* end smaller than*/




/* NOT smaller than */
@media not screen and (max-width: 30em) {
	img {
		display  : inline-block;
		float    : right       ;
		margin   :          1em;
		max-width:          80%;
	}

	.articletitle {
		display: none;
	}


} /* end: NOT smaller than */



/* bigger than */
@media screen and (min-width: 45em) {
	body       {font-size    : 110%   ;}

/* big borderless */
	body               {border-left: unset; border-right: unset;}

} /* end bigger than */




