/*
license header dingens
*/
/*
	Created on : 19.03.2018, 15:46:42
	Author     : nathan.peray, daniel.frei, philipp.gresslyfreimann
*/

/* navigation */
#navwrapper {
	display  : block;
	font-size:  120%;
        margin: auto;
}

.navtable {
	display         : table                ;
	position        : relative             ;
	width           : 100%                 ;
	height          : 3em                  ;
	border-top      : 1px solid transparent;
	background-color: #FFFFFE              ;
}

.navtitle {
	text-align: left;
	padding: auto;
	margin: auto;
}

.navjahr {
	text-align: center;
	padding: auto;
	margin: auto;
}

.nav {
	display        : table-cell    ;
	padding-left   : 0.5em           ;
	padding-right  : 0.5em;
	border-left    : 1px solid #FFF;
	min-width      : 1em           ;
	text-decoration: none          ;

	min-width: 100%;
	/* Effeect! */
	transition-duration: .2s   ;
	transition-property: color, background-color;
	background-color   : #002147;
	color              : #FFFFFF;
	font-size          :  1em   ;
	vertical-align     : middle ;
}

/* Navigationspfeile */

.navarrow {
	min-width          :              4em;
	padding            :              0em;
	margin             :              0em;
	color              : rgba(0, 0, 0, 0);
	background-size    : contain         ;
	background-repeat  : no-repeat       ;
	background-position: center          ;
}

.navarrow  span {
	display: none;
	width  : 100%;
}

.navlast {
	background-image: url(img/links.png);
}

.navlast:hover {
	background-image: url(img/linksH.png);
}

.navnext {
	background-image: url(img/rechts.png);
}

.navnext:hover {
	background-image: url(img/rechtsH.png);
}

.navnext > a {
	position : relative;
	top      :      0px;
	left     :      0px;
	min-width:    150px;
}

.navarrow:hover {
	background-color: #0056b8  ;
}

.stickyNav {
		top     :  0em;
		position:fixed;
}


/** 
 * Hier sind nur die CSS-Regeln, welche Media-abhängig sind.
 */

/* assorted sundry in queries */
/* smaller than */
@media screen and (max-width: 30em) {
	.navlast         {padding-left :   1em;}
	.navnext         {padding-right:   1em;}
	.nav             {
		width        :  16%   ;
		font-size    :    .9em;
	}
	/* entferne seiten titel */
	.navtitle {
		display      : none;
		padding-right:    0;
	}
	.navjahr {
		border-left : 1px solid #FFF;
		text-align  : center        ;
		padding-left:            0em;
	}
} /* end smaller than*/


/* NOT smaller than */

/* bigger than */
@media screen and (min-width: 45em) {
	.topnav     {height       :   2.0em;}
	.nav        {width        :   2.3em;}
	.navlast    {padding-left :   2.0em;}
	.navnext    {padding-right:   2.0em;}

	.navwrapper {margin-bottom: .5em;   }
} /* end bigger than */


@media print {
/* article and nothing else */
	.nav 	{display: none;}

	.navtitle, .navjahr {
		background-color: inherit !important;
		color           : #703820 !important;
		border-bottom   : 1px solid #703820;
	}
} /* end media print */
