/*
license header dingens
*/
/* 
	Created on : 19.03.2018, 15:46:42
	Author     : nathan.peray, daniel.frei
*/

/* navigation */
#navwrapper {
	display  : block;
	font-size:  120%;
}

.navtable {
	display         : table                ;
	position        : relative             ;
	width           : 100%                 ;
	height          : 3em                  ;
	border-top      : 1px solid transparent;
	background-color: #FFFFFE              ;
}

.navtitle {
		text-align: left;
		padding: auto;
		margin: auto;
}

.navjahr {
		text-align: center;
		padding: auto;
		margin: auto;
}

.nav {
	display        : table-cell    ;
	padding-left   : 0.5em           ;
	padding-right  : 0.5em;
	border-left    : 1px solid #FFF;
	min-width      : 1em           ;
	text-decoration: none          ;

	min-width: 100%;
/* Effeect! */
	transition-duration: .2s   ;
	transition-property: color, background-color;
	background-color   : #002147;
	color              : #FFFFFF;
	font-size          :  1em   ;
	vertical-align     : middle ;
}

/* Navigationspfeile */

.navarrow {
	min-width: 5em;
	padding: 0em;
	margin: 0em;
}
.navlast {
		text-align: left;
}
.navnext {
	text-align: right;
}

.navnext > a {
		position: relative;
		top: 0;
		left: 0;
		min-width: 150px;
}

.navarrow:hover {
		background-color: #ddd   ;
		color           : #002147;
/*	cursor          : pointer    ; */
}
